<main>
    <div class="character-episode" *ngIf="episodes">
        <div class="mb-4">
            <h3>Popular Characters</h3>
        </div>
        <div class="row" *ngIf="characters">
            <div class="col-md-6 col-xl-4" *ngFor="let character of characters.slice(0,6)">
                <app-character-card [character]="character"></app-character-card>
            </div>
        </div>
    </div>
    <div class="character-episode pt-4" *ngIf="episodes">
        <div class="mb-4">
            <h3>Popular Episodes</h3>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-4" *ngFor="let episode of episodes.slice(0,9)">
                <app-episode-card [episode]="episode"></app-episode-card>
            </div>
        </div>
    </div>
</main>